.link {
    stroke: #aaa;
}

.node text {
    stroke: #333;
    cursos: pointer;
}

.node circle {
    stroke: #fff;
    stroke-width: 3px;
    fill: #555;
}

.g {
    pointer-events: all;
}

div.tooltip-tweet {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
    opacity: 0;
}

#svg01 {
    fill: aliceblue;
}

#svg01 path {
    stroke: black;
}

#svg01.tick line {
    stroke: black;
}

#svg01.tick {
    stroke: black;
}

#svg01.tick text {
    stroke: none;
}

.bar {
    margin-bottom: 2px;
    text-align: right;
    font-size: 16px;
    color: white;
    background-color: blue;
    border: 5px solid green;
}

#svg_bar {
    width: 100%;
    height: 100%;
}

.svgbar1 {
    fill: #005000;
    stroke-width: 3;
    stroke: black;
    width: 30px;
}

.svgbar2 {
    fill: #000050;
    stroke-width: 3;
    stroke: black;
    width: 30px;
    padding-left: 10px
}

.svgbar3 {
    fill: #500000;
    stroke-width: 3;
    stroke: blac;
    width: 30px;
    padding-left: 10px
}

.axis {
    font: 10px sans-serif;
    text-decoration-color: black;
}

.bartext1,
.bartext2,
.bartext3 {
    fill: black;
    text-anchor: middle;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.label {
    fill: white;
    font-size: 20px;
    text-anchor: middle;
}