.link {
    stroke: #aaa;
}

.node text {
    stroke: #333;
    cursos: pointer;
}

.node circle {
    stroke: #fff;
    stroke-width: 3px;
    fill: #555;
}

.g {
    pointer-events: all;
}

div.tooltip-tweet {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
    opacity: 0;
}