body {
    overflow-x: hidden;
}

.link {
    stroke: #aaa;
}

.node text {
    stroke: #333;
    cursor: pointer;
}

.node circle {
    stroke: #fff;
    stroke-width: 3px;
    fill: #555;
}

.g {
    pointer-events: all;
}

div.tooltip-tweet {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: rgb(255, 255, 255);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#svg01 {
    fill: aliceblue;
}

#svg01 path {
    stroke: black;
}

#svg01.tick line {
    stroke: black;
}

#svg01.tick {
    stroke: black;
}

#svg01.tick text {
    stroke: none;
}

.bar {
    margin-bottom: 2px;
    text-align: right;
    font-size: 16px;
}

#svg_bar {
    width: 100%;
    height: 100%;
}

.svgbar1 {
    fill: #2F840F;
    width: 30px;
}

.svgbar2 {
    fill: #FAAD25;
    width: 30px;
    padding-left: 10px
}

.svgbar3 {
    fill: #F4171A;
    width: 30px;
    padding-left: 10px
}

.axis {
    font: 12px sans-serif;
    text-decoration-color: black;
    font-weight: bold;
}

.bartext1, .bartext2, .bartext3 {
    fill: black;
    text-anchor: middle;
    text-align: center;
    font-size: 16px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.label {
    fill: white;
    font-size: 20px;
    text-anchor: middle;
}
.head {
    height: 100px;
    padding: 10px;
    margin-bottom: 0
}

.bg-dark {
    background-color: #222222;
}

.navbar * {
    color: #ffffff !important;
}

.navbar {
    margin-bottom: 0 !important;
    background-color: #16A3F3;
    border: 0;
}

.navbar li a,
.navbar .navbar-brand {
    color: #ffffff !important;
}

.navbar-nav li a:hover {
    color: #000000 !important;
    background-color: #eceaea !important;
}

.navbar-nav li.active a {
    color: #000000 !important;
    background-color: #ffffff !important;
}

.navbar-nav li.active a {
    text-decoration: none !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-header {
    font-size: 11px !important;
    letter-spacing: 4px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(41, 40, 40);
    margin: 0px;
  }
.parentContainer {
    position: relative;
  min-height: 100vh;
}